<div class="burgerIcon">
    <img src="https://www.flaticon.com/svg/static/icons/svg/3075/3075929.svg" alt="burger icon">
</div>

<div class="burgerDiv clearfix">
    <div id="ordered">
        <h2>Ordered</h2>
        <hr>
        {{#each ordered}}
            <ul>
                <li>Id: {{id}}</li>
                <li>Burger: {{burger_name}}</li>
                <li>Eaten: {{isEaten}}</li>
            </ul>
        {{/each}}
    </div>

    <div id="eaten">
        <h2>Eaten</h2>
        <hr>
        {{#each eaten}}
            <ul>
                <li>Id: {{id}}</li>
                <li>Burger: {{burger_name}}</li>
                <li>Eaten: {{isEaten}}</li>
            </ul>
        {{/each}}
    </div>
</div>

<form id="form">
    <label for="burger">Burger:</label>
    <input type="text" name="burger" id="burger">
    <button type="submit">Get your burger</button>
</form>