<div class="burgerIcon">
    <img src="https://www.flaticon.com/svg/static/icons/svg/3075/3075929.svg" alt="burger icon">
</div>

<div class="burgerDiv clearfix">
    <div id="ordered" class="clearfix">
        <h2>Ordered</h2>
        <hr>
        {{#each ordered}}
            <ul>
                <li><span>Id:</span> {{id}}</li>
                <li><span>Burger:</span> {{burger_name}}</li>
                <li><span>Eaten:</span> {{isEaten}}</li>
                <button class="eatBtn ulBtn" type="submit" data-id={{id}}>Eat me!</button>
            </ul>
        {{/each}}
    </div>

    <div id="eaten" class="clearfix">
        <h2>Eaten</h2>
        <hr>
        {{#each eaten}}
            <ul>
                <li><span>Id:</span> {{id}}</li>
                <li><span>Burger:</span> {{burger_name}}</li>
                <li><span>Eaten:</span> {{isEaten}}</li>
                <button class="throwAwayBtn ulBtn" type="submit" data-id={{id}}>Throw away!</button>
            </ul>
        {{/each}}
    </div>
</div>

<form id="form">
    <label for="burger">Burger:</label>
    <input type="text" name="burger" id="burger">
    <button type="submit">Get your burger</button>
</form>